/* VARIABLES */
$primary-color: #fb2f3a;
$bg-color: #eeeeee;
$font-color: white;
$nav-color:#eeeeee;




/* RESET */
body {
    padding: 0;
    margin: 0;

    background: $bg-color;
    color: $font-color;
}

/* GENERAL */

@font-face {
    font-family: "museo";
    src: url('../fonts/museo700-regular.ttf');
}

@font-face {
    font-family: "lobster";
    src: url('../fonts/lobster-two-regular.otf');
}

/* HEADER */
.jumbo {
    background: url('../images/back-header.jpg') no-repeat;
    width:100%;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
}

.jumbo-darken {
    background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
}

.jumbotron {
    background-color: transparent;
}

.navbar-custom {
    background: transparent;

    .navbar-brand {
        padding-top: .1em;
        margin-right: 2em;
    
        font-family: "lobster";
        font-style: italic;
        font-weight: 600;
        font-size: 3em;

        color:$nav-color;
        
    } 

    .navbar-brand:hover {
        color: white;
    }

    .navbar-text {
        color: $font-color;
    }

    .navbar-nav {
        .nav-link {
            color:$nav-color;
        }
    }
    
    .nav-item.active {
        .nav-link {
            color: $font-color;
            background: black;
        }
    }

    .nav-item:hover {
        color: white;

        .nav-link {
            color: white;
        }
    }
} /* END NAVBAR CUSTOM */

/* .my-btn {
    //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    @include button-variant(red, white, blue);
  }
*/

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}
  
.btn-primary:hover {
    color: #fff;
    background-color: mix($primary-color,white,80%);
    border-color: mix($primary-color,white,80%);
}


.btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}
  
.btn-secondary:hover {
    color: $bg-color;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}

.header-browser {
    align-content: bottom;
}